<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>

    <style type="text/css">
      body {
        font-family: helvetica, sans-serif;
      }

      header {
        background: #f3f3f3;
        padding-bottom: 5px;
        padding: 10px;
      }

      span {
        color: #349d2b;
        font-weight: bold;
      }

      hr {
        background: linear-gradient(
          90deg,
          rgba(59, 161, 63, 1) 0%,
          rgba(252, 255, 81, 1) 50%,
          rgba(59, 161, 63, 1) 100%
        );
        height: 1px;
      }

      footer {
        height: 4rem;
        background: #276137;
      }

      main {
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
      }
    </style>
  </head>

  <body>
    <header>
      <img
        align="left"
        border="0"
        src="cid:logo"
        alt="GreenTracker logo"
        style="
          outline: none;
          text-decoration: none;
          -ms-interpolation-mode: bicubic;
          clear: both;
          display: inline-block !important;
          border: none;
          height: auto;
          float: none;
          width: 24%;
          max-width: 115.2px;
        "
        width="115.2"
      />

      <hr />
    </header>
    <main>
      <h1>¡Recuerda subir tus actividades!</h1>
      <p>Hola {{unit}},</p>
      <p>
        Nos gustaría recordarte la importancia de subir a
        <span>GreenTracker</span> las actividades que han realizado, las cuales
        son necesarias para la elaboración del reporte Green Metric.
        <b>La fecha límite para esta subida es el {{endTimestamp}}</b>.
      </p>
      <p>
        Hasta el momento, no hemos recibido los documentos del período actual, y
        <b>tu pronta colaboración es crucial</b> para cumplir con los plazos
        establecidos y asegurar la calidad y precisión de nuestro reporte
        ambiental.
      </p>
      <p>Agradecemos de antemano tu colaboración,</p>
      <p>
        <img
          align="left"
          border="0"
          src="cid:logo"
          alt="GreenTracker logo"
          style="
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
            clear: both;
            display: inline-block !important;
            border: none;
            height: auto;
            float: none;
            width: 24%;
            max-width: 115.2px;
          "
          width="115.2"
        />
      </p>
    </main>
    <footer></footer>
  </body>
</html>
